<nav class="d-flex flex-row align-items-center w-100 bg-dark-blue">
    <img src="/sources/jpg/escudo_css.jpg" alt="...No se puede ver..." class="m-1">
    <h2 class="text-white ps-4">Liga de Ex-Alumnos 2024/25</h2>
</nav>