:root {
    --dark_blue: #013968;
    --light_blue: #00a5e0;
    --white: #ffffff;
    --black: #000000;
    --grey: #a3a3a3;
    --one_grey: #e9ebec;
}

.bg-grey {
    background-color: var(--grey);
    color: var(--white);
}

.bg-row-1 {
    color: var(--black);
}

.bg-row-2 {
    background-color: var(--one_grey);
    color: var(--black);
}


.col-04 {width: 4%;}
.col-05 {width: 5%;}
.col-06 {width: 6%;}
.col-12 {width: 12%;}
.col-13 {width: 13%;}
.col-25 {width: 25%;}
.col-40 {width: 40%;}

